<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body class="bg-black text-white mt-10 ml-10">
    <a href="/" class="text-blue-500">Go back</a>
    <h1 class="text-4xl mt-2"><%=filename%></h1>
    <h2 class="mt-10"><%=filedata%></h2>
  </body>
</html>
